<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://twitter.com/vs_2611" target="_blank"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.linkedin.com/in/viveksaliya/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/vivek.saliya" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
    <div class="copy">
      Copyright &copy; 2024 MyNotebook Inc. View the code at
      <a href="https://github.com/saliyavivek/mynotebook" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div>Made with &hearts; by Vivek</div>
  </div>
</footer>
