<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://twitter.com/vs_2611"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.linkedin.com/in/viveksaliya/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/vivek.saliya"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
    <div class="copy">Copyright &copy; 2024 MyNotebook Inc.</div>
    <div>Made with &hearts; by Vivek</div>
  </div>
</footer>
