* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f3f6fd !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: normal;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 4rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
}

.navbar-nav {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.navbar-nav .auth {
    display: flex;
    align-items: center;
}

.nav-container {
    padding: 0 7rem !important;
}

/* Footer */

.f-info {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #fff;
    margin-top: 2rem;
}

.f-info-socials a{
    color: black;
    padding: 0.5rem;
}

.copy {
    color: grey;
}

/* Create note  */
.add-note {
    height: 5rem;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    border-radius: 10px;
}

.add-note a {
    font-size: 1.1rem;
    color: gray;
    text-decoration: none;
}

.add-note a:hover {
    color: #000;
}

.add-note i {
    font-size: 0.8rem;
    padding: 0 0.5rem 0 2rem;
}

.btn-custom {
    background-color: transparent !important;
    color: #000 !important;
    padding: 0.4rem 1rem !important;
}

.btn-custom:hover {
    background-color:#000 !important;
    color: #fff !important;
}

/* all notes  */
.all-notes {
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
}

.all-notes-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.4rem;
}

.all-notes-active {
    border-bottom: 1px solid black;
    width: 171px;
    color: #000 !important;
}

.all-notes-titles a {
    margin-right: 2rem;
    text-decoration: none;
    color: inherit;
}

.all-notes-titles h2 {
    color: #393939;
    margin-bottom: 2rem;
}

.all-notes-titles h2:hover {
    color: #000;
}

/* Cards */
.card {
    margin: 1rem 3rem 2rem 1rem;
    width: 350px !important;
    min-height: 282px !important;
    transition: all 0.3s ease-in-out;
    padding: 0 !important;
}

.home-card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 0 !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 1rem; */
}

.card-top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card-top-left p {
    font-size: 0.8rem;
    color: gray;
}

.card-top-left a {
    text-decoration: none;
    color: inherit;
}

.dropdown {
    margin-top: -2.8rem;
}

.card-middle {
    display: flex;
    justify-content: start;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 91%;
    justify-content: space-between;
}

.border-card {
    height: 0.2rem;
    width: 100%;
}

.home-card:hover {
    background-color: #87baf5;
    color: #fff;
}

.home-card:hover .fa-ellipsis {
    color: #fff;
}

.home-card:hover .card-top-left p {
    color: #fff;
}

.dropdown i {
    color: #000;
}

.dropdown-menu {
    padding-top: 0.4rem !important;
}

.note-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.note-options:hover {
    background-color: #f3f6fd;
}

.note-options a:active, button:focus {
    background-color: #fff !important;
    color: #000 !important; 
}

.note-delete {
    display: flex;
    justify-content: start;
    align-items: center;
}

.note-options button {
    background: none;
    border: none;
    padding-left: 1.1rem;
}

/* show  */
.card-show {
   width: 40rem !important;
   padding: 2rem !important;
   border-radius: 10px !important;
   height: auto !important;
   margin-bottom: 4rem;
}

.show-card-bottom {
    display: flex;
}

.show-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-btns p {
    color: gray;
}

.show-btns a {
    margin-right: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.show-title {
    margin-top: -1rem;
    font-size: 2rem;
    font-weight: 700;
}

.show-description {
    margin-top: 1rem;
}

.show-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-top-left .card-text{
    margin-top: -0.2rem;
    /* margin-left: 0.6rem; */
    font-size: 0.9rem;
    color: darkgray;
}

.show-tag {
    font-size: 1rem;
    margin-top: -2.5rem;
    color: rgb(97, 96, 96);
}

.show-card-foot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: gray;
}

/* Private row  */
.all-notes-private {
    min-height: 30rem !important;
}

/* flash message  */
.message-box {
    margin: 1.4rem auto;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff !important;
}

.message-box p {
    margin: 0;
}

.success {
    border: 2px solid green !important;
}

.failure {
    border: 2px solid red !important;
}

.warn {
    border: 2px solid orange !important;
}

.row-auth {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100vh;
}

.form-auth {
    margin-top: -3rem !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem !important;
    width: 40% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1400px){
    * {
        overflow-x: hidden;
    }
    .row .card{    
        width: 93% !important;        
    }

    .card-bottom {
        width: 98%;
        display: flex;
        justify-content: space-between;
    }

    .card-bottom-createdAt {
        padding-right: 1rem !important;
    }
    
    .form-auth {
        min-width: 50% !important;
    }
}

@media screen and (max-width: 992px)   {
    .auth .disabled {
        display: none;
    }

    .form-auth {
        min-width: 450px !important;
    }

    .navbar {
        min-width: 915px !important;
    }

    .navbar-brand {
        padding-left: 10px;
    }
}
@media screen and (max-width: 917px)   {
    .nav-container {
        display: flex !important;
        justify-content: flex-start !important;
    }

    .navbar-nav .nav-home{
        display: none;
    }
    .navbar-nav {
        width: 75%;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .navbar {
        min-width: 917px !important;
    }

    .f-info {
        width: 917px;
    }

    .row-auth {
        width: 696px;
        margin-left: 50px !important;
    }

    .form-auth {
        min-width: 450px !important;
    }
}

@media screen and (max-width: 845px)   {
    .navbar-nav {
        width: 65%;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .navbar {
        min-width: 845px !important;
    }

    .f-info {
        width: 845px;
    }

    .nav-logout {
        margin-right: -5rem;
    }

    .form-auth {
        min-width: 450px !important;
    }
}

@media screen and (max-width: 768px)   {
    .navbar-nav {
        width: 50%;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row !important;
    }

    .auth .nav-link {
        margin-left: 0.5rem;
    }

    .btn-expand {
        width: 100%;
        margin: 1.8rem 0;
    }

    .f-info {
        width: 768px;
    }

    .form-auth {
        padding-bottom: 20px !important;
    }

    .navbar {
        min-width: 768px !important;
    }

    .row-auth {
        margin-left: -50px !important;
    }
}

@media screen and (max-width: 700px)   {
    .navbar-nav {
        width: 55%;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center;
    }

    .navbar {
        min-width: 700px !important;
    }

    .f-info {
        width: 700px;
    }

    .row-auth {
        margin-left: -100px !important;
    }
}

@media screen and (max-width: 668px)   {
    .container-fluid {
        margin-left: -2.5rem !important;
    }

    .navbar {
        min-width: 668px !important;
    }

    .add-note,.all-notes {
        width: 500px;
        margin: 2rem;
    }

    .f-info {
        width: 668px;
    }

    .row-auth {
        margin-left: -100px !important;
    }
}

@media screen and (max-width: 570px)   {
    /* .container-fluid {
        margin-left: -4.5rem !important;
    } */

    .all-notes-titles h2 {
        font-size: 1rem;
    }

    .navbar {
        min-width: 570px !important;
    }

    .navbar-nav {
        width: 57%;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center;
    }

    .add-note {
        width: 500px;
        margin: 2rem;
    }

    .f-info {
        width: 570px;
    }

    .row-auth {
        width: 600px;
        margin-left: -2rem !important;
    }

    /* .form-auth {
        width: 200px !important;
    } */
}


@media screen and (max-width: 480px)   {
    /* .container-fluid {
        margin-left: -5.5rem !important;
    } */

    .all-notes-titles h2 {
        font-size: 1rem;
        width: 120%;
    }

    .row-auth {
        margin-left: -2.5rem !important;
    }

    /* .nav-logout {
        margin-left: -5rem;
    } */
}

@media screen and (max-width: 385px)   {
    .all-notes-titles h2 {
        font-size: 1rem;
    }

    .all-notes-titles h2 a {
        width: 100%;
        margin: 0;
    }

    .add-note {
        height: 60px;
    }

    .add-note i {
        font-size: 0.65rem;
    }

    .add-note a {
        font-size: 0.9rem;
    }

    .nav-logout {
        margin-left: -11.2rem;
    }

    .navbar-nav {
        display: none;
    }

    .auth .nav-link {
        margin-left: 0.5rem;
    }

    .form-auth {
        min-width: 90% !important;
        margin-top: 2rem;
        margin-right: -1rem;
    }

    .btn-expand {
        width: 100%;
        margin: 1.8rem 0;
    }

    .form-auth {
        padding-bottom: 20px !important;
    }

    
}

@media screen and (max-width: 361px)   {
    .nav-container {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    
    .navbar-nav {
        padding: 0 !important;
        margin-left: -2.1rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .row-auth {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .form-auth {
        width: 320px;
        margin: 0;
        margin-top: -10rem !important;
    }

    .f-info {
        width: 360px;
    }

    .all-notes-titles h2 {
        font-size: 1rem;
    }

    .all-notes-titles h2 a {
        width: 100%;
        margin: 0;
    }

    .add-note {
        height: 60px;
    }

    .add-note i {
        font-size: 0.65rem;
    }

    .add-note a {
        font-size: 0.9rem;
    }

    .nav-logout {
        margin-left: -9rem;
    }
}