<% layout("/layouts/boilerplate") %>

<div class="row row-auth">
  <!-- <div class="col-7 offset-3"> -->
  <br /><br /><br /><br />
  <form
    method="POST"
    action="/users/signup"
    class="needs-validation form-auth"
    novalidate
  >
    <h2 style="text-align: center">Sign up</h2>
    <br />
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        id="email"
        name="email"
        type="text"
        placeholder="Enter your email address"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter your email!</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        id="password"
        name="password"
        type="password"
        placeholder="Enter your password"
        required
      />
      <div class="invalid-feedback">Please enter your password!</div>
    </div>
    <br />
    <button class="btn btn-dark btn-expand" style="margin-top: -0.8rem">
      Sign up
    </button>
  </form>
  <!-- </div> -->
</div>
